.tabBar {
  display: flex;
  flex-direction: column;
  border-radius: var(--window-radius) 0 0 var(--window-radius);
  background: rgba(0, 0, 0, 0.2);
}

.tabBar > * {
  flex-basis: 80px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.tabBar > *:hover {
  background: rgba(0, 0, 0, 0.2);
}

.logo > .symbol {
  height: 40px;
}

.symbol {
  height: 30px;
}

.logo {
  background: rgb(26, 31, 37);
  border-radius: var(--window-radius) 0 0 0;

  display: grid;
  align-content: center;
  justify-content: center;
}

.selected {
  border-left: 5px solid var(--feature);
}
